* {
	box-sizing: border-box;
}
body{
    background: #E5E5E5;
    position: relative;
}
.chat{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.feed{
    padding-top: 80px;
    padding-bottom: 80px;
}
header{
    background: #FFFFFF;
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    top: 0;
    
}
header img{
    position: absolute;
    width: 75px;
    height: 53px;
    top: 16px;
    left: 22px;
}
header ion-icon{
    font-size: 45px;
    position: absolute;
    top: 18px;
    right: 21px;
}
ion-icon:hover{
    cursor: pointer;
}
main{
    padding-top: 106px;
}
.log , .caixaMensagem{
    width: 100%;
    border-radius: 2px;
    margin-bottom: 4px;
    padding: 13px 8px;
    box-sizing: border-box;
    overflow-x: hidden;
    /* estilos dos textos  */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    /* fonte predominante */
    font-weight: 400;   
    /* cor predominante */
    color: #000000;
}
.log{
    background: #DCDCDC;
}
.caixaMensagem{
    background: #FFFFFF;
}
.privada{
    background: #FFDEDE;
}
.hora{
    color: #AAAAAA;
}
.usuario{
    font-weight: 700;
}

footer{
    background: #FFFFFF;
    height: 80px;
    width: 100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    bottom: 0;
}
footer input{
    width: 82%;
    height: 30px;
    position: absolute; 
    bottom: 25px;
    left: 17px;
    border: none;
}
footer button{
    background: #FFFFFF;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 18px;
    bottom: 25px;
    border: none;
}
footer button ion-icon{
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 0;
}


.login{
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(230, 139, 106 ,.5); */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    background-color: #FFFFFF;
}
.login img{
    width: 130px;
    height: 92px;
    margin-bottom: 94px;
}
.login input{
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AEAEAE;
    width: 261px;
    height: 54px;
}
.login button{
    display: block;
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: none;
    color: #696969;
    margin-top: 15px;
}


.participantes{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    position: relative;
}
.voltar-chat{
    background-color: rgb(0, 0, 0, );
    width: 100%;
    height: 100vh;
}
.aside{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: greenyellow;
}
.flex-center{
    width: 100%;
    display: flex;
    justify-content: center;
}














































.escondido{
    display: none;
}